#lengthRange {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background-color: #18171f;
  /*background-image: linear-gradient(#a4ffaf, #a4ffaf);
  background-size: 50%, 50%;
  background-repeat: no-repeat;*/
}

#lengthRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e6e5ea;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.check-box {
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
}

.strength-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18171f;
  padding: 14px 16px;
  margin: 32px 0 16px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #817d92;
}

.stength-boxes {
  display: flex;
  gap: 8px;
}

.stength-boxe {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #24232c;
  background-color: #a4ffaf;
  padding: 18px 97.89px 17px 97px;
  /*width: 311px;
  height: 56px;*/
  border: none;
  margin: 0 auto;
}
