#lengthRange {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background-color: #18171f;
  /*background-image: linear-gradient(#a4ffaf, #a4ffaf);
  background-size: 50%, 50%;
  background-repeat: no-repeat;*/
}

#lengthRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e6e5ea;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.check-box {
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
}
